* {
    box-sizing: border-box;
}

header{
    display: flex;
    background: linear-gradient(to bottom, #080c1f, transparent);
    background-color: transparent;
    align-items: center;
    justify-content: center;
    height: 240px;
    padding: 40px;
    flex-direction: column;
    overflow: none;
    color: white;

}

header h1 {
    font-family: "Outfit", sans-serif;
    font-size: 40px;
}

.controls{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.dropdown-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.header-top {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}     

.hamburger {
    position: absolute;
    left: 40px;
    font-size: 40px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.hamburger:hover{
    color: #06b6d4;
    background-color: rgba(31, 41, 55, 0.6);

}


@media (max-width: 768px) {
    header{
        padding: 20px;
    }

    .controls{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .controls > * {
        width: 100%;
        text-align: center;
    }
    .dropdown-container{
        flex-direction: column;
    }
}

