/* CSS for Modal */
.Modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #090b0ec2;
    backdrop-filter: blur(5px);
}

.modal-content {
    background: #0f172a;
    color: white;
    margin: auto;
    padding: 0px;
    border: 2px solid var(--sunset-orange);
    border-radius: 20px;
    width: 80%;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 20px 60px rgba(132, 132, 132, 0.3);
}

i {
    padding: 0px 5px;
    font-size: 20px;
    color: white;
}

.modal-body {
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.modal-title{
    text-align: center;
}

p{
    display: flex;
    justify-content: center;
}



#movie-name {
    font-size: 1.5rem;
    color: var(--text-dark);
    margin: 0 0 8px 0;
}

#rating {
    font-size: 1rem;
    color: var(--sunset-purple);
    margin: 0;
}
.modal-close {
    position: absolute;
    top: 50px;
    right: 50px;
    background-color: transparent;
    border: none;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(57, 57, 57, 0);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    text-align: center;
    padding: 0px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.modal-close:hover{
    background-color: #5555f76d;
    color: #f0f0f0;
    transform: rotate(90deg);

}

.header-details {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.modal-header {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white; 
    overflow: hidden;
}

.modal-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #3341553d 0%, #1e293bdf 100%);
    z-index: 5;
}

.modal-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 0;
}

.modal-header-text {
    z-index: 10;
    padding: 20px;
    font-family: 'Outfit';

}

.modal-header-text h2{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}

.modal-overview{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.modal-text h2{
    margin: 0px;
    color: white;
    font-family: 'Outfit';
    text-align: left;
}

.modal-text p{
    color: rgba(255, 255, 255, 0.548);
    font-family: 'Inter';
    text-align: left;
    font-weight: 500;

}

.genre-pill {
    font-family: 'Inter';
    color: #d5d6ff;
    padding: 5px 20px;
    border: 2px solid #5d55f7;
    background-color: #2d2297;
    border-radius: 20px;
    font-weight: bold;
}

.genre-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0px;
}

iframe{
    border-radius: 20px;
    border: none;
}
@media (max-width: 768px){
    .genre-container {
        flex-direction: column;
    }
}