* {
    box-sizing: border-box;
}

.MovieList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    justify-content: center;
    gap: 30px;
    padding: 40px;
    width: 100%;
    position: relative;
}