.App {
  text-align: center;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;


}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}
html, body, #root{
  height: 100%
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  padding: 0px;
}
footer{
  height: 100px;
  background-color:rgb(209, 209, 209);
}
@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}
